@import "../../../assets/styles/bootstrap/variables";

.issues-table {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid $dark;

    .table-header {
        background: rgba(255, 255, 255, 0.1);
        border-bottom: 1px solid $dark;
    }
}
