<div class="px-4 py-5">
    <div class="py-5 d-flex flex-column align-items-center text-center text-secondary">
        <img src="assets/images/angular_logo.svg" width="50" alt="logo"/>
        <h1 class="display-5 fw-bold text-white">Issues on Github @angular/angular</h1>
    </div>

    <div class="issues-table rounded">
        <div class="d-flex justify-content-end p-4 table-header">
            <div class="btn-group d-flex ml-2" dropdown>
                <button id="button-state" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle"
                        aria-controls="dropdown-state">
                    State: <b>{{ stateFilter$.value }}</b> <span class="caret"></span>
                </button>
                <ul id="dropdown-state" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                    role="menu" aria-labelledby="button-state">
                    <li role="menuitem"><a class="dropdown-item" (click)="stateFilter$.next(IssueState.Open)">Open</a></li>
                    <li role="menuitem"><a class="dropdown-item" (click)="stateFilter$.next(IssueState.Closed)">Closed</a></li>
                </ul>
            </div>
            <div class="btn-group d-flex ms-2" dropdown>
                <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                        aria-controls="dropdown-animated">
                    Sort: <b>{{ sortDirection$.value }}</b> <span class="caret"></span>
                </button>
                <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                    role="menu" aria-labelledby="button-animated">
                    <li role="menuitem"><a class="dropdown-item" (click)="sortDirection$.next(IssuesSortDirection.Desc)">Most commented</a></li>
                    <li role="menuitem"><a class="dropdown-item" (click)="sortDirection$.next(IssuesSortDirection.Asc)">Least commented</a></li>
                </ul>
            </div>
        </div>
        <div class="table-body d-flex flex-column">
            <app-issue-row *ngFor="let issue of issuesQuery.selectAll() | async"
                [issue]="issue">
            </app-issue-row>
        </div>

        <div class="table-footer p-4" *ngIf="(totalCount$ | async)! > 0">
            <app-paging-controls
                [current]="(page$ | async)!"
                [total]="(totalCount$ | async)!"
                (next)="page$.next(page$.value + 1)"
                (previous)="page$.next(page$.value - 1)"
                (goTo)="page$.next($event)">
            </app-paging-controls>
        </div>
    </div>
</div>
