<div class="py-2 px-4 d-flex align-items-center">
    <i class="mdi mdi-umbrella-closed icon-medium"
       [class.text-danger]="issue?.state === IssueState.Closed"
       *ngIf="issue?.state === IssueState.Closed"></i>
    <i class="mdi mdi-umbrella icon-medium"
       [class.text-success]="issue?.state === IssueState.Open"
       *ngIf="issue?.state === IssueState.Open"></i>

    <div class="d-flex flex-column align-items-start flex-grow-1 ms-4">
        <h5 class="font-weight-bold">{{ issue?.title }}</h5>
        <ul class="list-inline mb-0">
            <li class="list-inline-item">#{{ issue?.number }}</li>
            <li class="list-inline-item" *ngIf="issue?.state === IssueState.Open">
                opened
                {{ issue?.createdAt | dateTimeToRelative }}
            </li>
            <li class="list-inline-item" *ngIf="issue?.state === IssueState.Closed">
                closed
                {{ issue?.closedAt | dateTimeToRelative }}
            </li>
            <li class="list-inline-item">by <a href="{{ issue?.user?.url }}" target="_blank">{{ issue?.user?.login }}</a></li>
        </ul>
    </div>

    <div class="d-flex align-items-center me-2" *ngIf="issue?.commentsCount! > 0">
        <i class="mdi mdi-comment-processing-outline icon-medium me-2"></i>
        {{ issue?.commentsCount }}
    </div>
</div>
